#background {
    width: 100%;
    height: 100%;
    fill: black;
}

.classx {
    fill:green;
   
}
/*
.classy {
    fill:#14d9e7;
}
*/

#classyId {
    fill: red;
  r:90;
}

.classy {
    fill: #fc9105;
   r: 45;
    
}

