#background {
    width: 100%;
    height: 100%;
    fill: black;
}

.classx {
   x:168;
   y:168;
   fill:#adf505;
   font-family: Fabrikat-Bold;
   font-size: 30;

}

#classxId #text {
    text-anchor: start;/* ? wrong here?*/ /* TODO G 1 doesn't work */
    letter-spacing: 30;
}

.classx #text {
    text-anchor: start;/* ? wrong here?*//* TODO G 1 doesn't work */
}

.classx #layout  {
    start-angle:0;
    sweep-angle: 20;

}
#classyId #text {
    text-anchor: start;/*only not working att here*/
}




/*
.classy {
    fill:#14d9e7;
}
*/

#classyId #radius{
    fill: red;
    r: 100;

}

.classy {
    fill: #fc9105;


}

