#background {
    width: 100%;
    height: 100%;
    fill: black;
}
.curvedText {
    fill: white;    /* default fill can't be specified in .text; doing so stops it from being over-ridden easily */
}
.text {
    x: 0;
    y: 0;
    font-family: Barlow-Regular;
    font-size: 30;
    text-anchor: middle;
    text-length: 1; /*changed to 1, looking good, hoping it´s ok / Barb*/

}